<div id="<%= dom_id bid %>">
  <p>
    <strong>Price:</strong>
    <%= bid.price %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= bid.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bid.user_id %>
  </p>

</div>
