<p style="color: green"><%= notice %></p>
<body class = "h-full bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-center">
  <div>
    <h1 class = "text-5xl underline">Bid$</h1>

    <div class = "text-3xl" id="bids">
      <% @bids.each do |bid| %>
        <div class = "p-2">
            <%= render bid %>
            <p>
              <%= link_to "Show this bid", bid %>
            </p>
          <% end %>
        </div>
    </div>

    <%= link_to "New bid", new_bid_path %>
  </div>
</body>
