<div id="<%= dom_id user %>">
  <h1 class = "font-mono font-semibold outline-double" >
    <strong>Name:</strong>
    <%= user.name %>
  </h1>

  <p>
    <strong>Interest 1:</strong>
    <%= user.interest_1 %>
  </p>

  <p>
    <strong>Interest 2:</strong>
    <%= user.interest_2 %>
  </p>

</div>
