<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Interest 1:</strong>
    <%= user.interest_1 %>
  </p>

  <p>
    <strong>Interest 2:</strong>
    <%= user.interest_2 %>
  </p>

</div>
