<body class="h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-center">
  
  <div>
    <p style="color: green"><%= notice %></p>
  </div>

  <div class = "font-bold text-clip text-5xl text-blue-400">
    <h1 >Users</h1>
  </div>



<div>
  <% @users.each do |user| %>
    <%= link_to "#{user.name} | #{user.products.count} items for sale", user %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

</body>
