<body class="h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-left">
  <div>
    <div>
      <p style="color: green"><%= notice %></p>
    </div>

    <div class = "font-bold text-clip text-5xl text-blue-400">
      <h1 >Users</h1>
    </div>



  <div>
    <ul class = "list-none"><% @users.each do |user| %>
      <li>ðŸ”¥ <%= link_to "#{user.name} âž¡ï¸ #{user.products.count} items for sale", user %></li>
    <% end %>
    </ul>
  </div>

  <%= link_to "New user", new_user_path %>
  </div>
</body>
