<body class = "h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none">
  <div class = "flex mx-auto">

    <div class = "flex-none w-60">
      <div></div>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div>
    </div>

    <div class = "flex-none w-20">
    </div>

    <div class = "grow text-center">
      <div>
        <h1 class = "text-6xl"><%=@product.name%></h1>
      </div> 

      <div class = "border-double border-orange-600 border-8 bg-orange-300">
        <h1 class = "text-6xl text-green-600">CURRENT BID</h1>
        <h1 class = "text-6xl">$<%=@product.max_bid%></h1>
          <div>
          <form method = "post" action = "/bids/create" id = "bidform">
            <label class = "text-4xl text-green-600" for="price">🤑PLACE BID HERE🤑</label><br><br>
            <input type = "number" id = "price"><br><br>
            <input class = "bg-green-600 rounded-fill" type = "submit" value = "PLACE BID">
          </form>
          <br>
        </div>
      </div>
    </div>

    <div class = "flex-none w-20">
     
    </div>

    <div class = "flex-none w-60">
      <div></div>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div>
    </div>

  </div>
</body>